.GitHubLink {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 15px;
    margin-right: 8px;
    margin-bottom: 200px;
    background: url("./GitHub-Mark-32px.png");
}

.Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
