html, body, #root{
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  padding-top: 10px;
}


body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    rgb(6, 0, 90) 35%,
    rgb(58, 63, 172) 75%,
    rgb(120, 53, 165) 90%,
    rgb(128, 92, 226) 
  );
  background-repeat: no-repeat;
}

.Box {
  display: block;
  width: 60%;
  min-height: 300px;
  /* min-height: 750px; */
  margin: 100px auto 100px auto;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 25px;
}

